<ion-view view-title="EmailSent">
    <ion-content class="smt_background_image">

        <div class="smt_logo">
            <img src="img/Smt_Logo.png" width="50%">
        </div>

        <div style="text-align:center">
            <img src="img/emailSent.png" width="25%">
        </div>
        <h3 class="email_sent">Email Sent!</h3>
        <div class="forgot_pswd_txt">
            <p>You will receive an email with instructions on how to reset your password in few miniutes.</p>
        </div>



        <button class="button button-block all_btns" id="reg_btn" ng-click="gotoLogin()">Done</button>

    </ion-content>
</ion-view>