<ion-view>
		
  <ion-content>
	  
	  <div class="">
		<div class="row" style="background-color:#0489a2">
			<div class="col col-50">
					<ion-slide-box class="mainSlider" auto-play="false" does-continue="true">
						<ion-slide class="mainSlides">
							<img style="width: 100%" src="http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/b.png">
						</ion-slide>
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
					</ion-slide-box> 
			</div>
			<div class="col col-50">
					<ion-slide-box class="mainSlider" auto-play="false" direction="left" does-continue="true">
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
						<ion-slide class="mainSlides">
							<img style="width: 100%" src=" http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/m.png">
						</ion-slide>
					</ion-slide-box> 
			</div>
			
		</div>
	  </div>
		<div class="row">
				<div class="col">
					<label>Top Brands</label>
				</div>
			</div>
		
				<div style="background-color:#0489a2;padding-bottom: 4px;padding-top: 2px;">
					<div class="marquee" id="mycrawler" style="height:60px;">
							<img class="" src="https://shopmytools-tifk2ao.netdna-ssl.com/media/Manufacturer/6107257638_nortan_brand_logos_195x95.png" style="height:60px;margin-right:10px;"/>
								<img class="" src="https://shopmytools-tifk2ao.netdna-ssl.com/media/Manufacturer/1560839758_bosh_brand_logos_195x95.png" style="height:60px;margin-right:10px;"/>
								<img class="" src="https://shopmytools-tifk2ao.netdna-ssl.com/media/Manufacturer/5930071685_dewalt_brand_logos_195x95.png" style="height:60px;margin-right:10px;"/>
									<img class="" src="https://shopmytools-tifk2ao.netdna-ssl.com/media/Manufacturer/5588110862_good_year_195x95.png" style="height:60px;margin-right:10px;"/>
					</div>
				</div>

		<div class="row">
			<div class="col">
				<label>Best Deals</label>
			</div>
		</div>
		<div class="row" style="background-color:#0489a2">
				<div class="col col-50">
						<ion-slide-box class="mainSlider" auto-play="false" does-continue="true">
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/r2.png">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/r2.png">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/r2.png">
								</ion-slide>
								
							</ion-slide-box>
					
				</div>
				<div class="col col-50">
						<ion-slide-box class="mainSlider" auto-play="false" does-continue="true">
							<ion-slide class="mainSlides">
								<img style="width: 100%" src="http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/r2.png">
							</ion-slide>
							<ion-slide class="mainSlides">
								<img style="width: 100%" src="http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/r2.png">
							</ion-slide>
							<ion-slide class="mainSlides">
								<img style="width: 100%" src="http://shopmytools.tifk2ao.maxcdn-edge.com/media/coupons/r2.png">
							</ion-slide>
							</ion-slide-box>
					
				</div>
		</div>
		<div class="row">
				<div class="col">
					<label>Emerging Brands</label>
				</div>
			</div>
			<div style="background-color:#0489a2;padding-bottom: 4px;padding-top: 2px;">
				<div class="marquee" id="mycrawler" style="height:60px;">
						<img src="https://shopmytools-tifk2ao.netdna-ssl.com/media/Manufacturer/5160111568_gray_tool.png" style="height:60px;margin-right:10px;"/> 
						<img src="https://shopmytools-tifk2ao.netdna-ssl.com/media/Manufacturer/3113566801_neo_195x95.png" style="height:60px;margin-right:10px;"/>
							<img src="https://shopmytools-tifk2ao.netdna-ssl.com/media/Manufacturer/5364216708_mebote_brand_logos_195x95.png" style="height:60px;margin-right:10px;"/>
							<img src="https://shopmytools-tifk2ao.netdna-ssl.com/media/Manufacturer/6107257638_nortan_brand_logos_195x95.png" style="height:60px;margin-right:10px;"/>
				</div>
			</div>

		<div class="row">
				<div class="col">
					<label>Best Offers</label>
				</div>
			</div>
		<div class="row" style="background-color:#0489a2">
				<div class="col col-50">
						<ion-slide-box class="mainSlider" auto-play="false" does-continue="true">
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
							</ion-slide-box>
					
				</div>
				<div class="col col-50">
						<ion-slide-box class="mainSlider" auto-play="false" does-continue="true">
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
								<ion-slide class="mainSlides">
									<img style="width: 100%" src="http://shopmytools-tifk2ao.netdna-ssl.com/media/thumbnail/gif/Electric_Drill_Powertex_PPT-ED-6-H.gif">
								</ion-slide>
							</ion-slide-box>
					
				</div>
		</div>
    
  </ion-content>
</ion-view>
