<div ng-controller="registrationController">



    <div>
        <form name="otpForm">
            <label class="item item-input item-floating-label">
                <input type="number" name="password" ng-model="otp" name="otp" required>
            </label>
            <span ng-show="otpForm.$submitted || otpForm.otp.$touched || (otpForm.otpForm.$dirty && otpForm.otp.$invalid)">
                <span class="error" ng-show="otpForm.otp.$error.required">Please Enter OTP.</span>
            </span>
            <button class="button  all_btns" ng-click="resendOTP()">Resend</button>
            <button class="button  all_btns" ng-click="verifyOTP(otpForm,otp)">Submit</button>
        </form>
    </div>
</div>