<ion-view view-title="Registrtion">
  <!-- <ion-header-bar>
    <h1 class="title">Registrtion</h1>

  </ion-header-bar> -->
  <ion-content class="scroll-content-login">

    <div class="center p-top20">
      <img src="img/smtlogo.png" width="100px">
    </div>



    <div class="list reg-form-margin">
      <form name="registerForm" novalidate>
        <label class="item item-input item-floating-label border-bottom1" ng-class="{ 'border-bottom1-error' : registerForm.firstname.$invalid && !registerForm.firstname.$pristine }">
          <!-- <i class="icon ion-android-person placeholder-icon"></i>
          <span class="input-label">First Name</span> -->
          <input type="text" placeholder="First Name" name="firstname" ng-model="registerData.firstname" required>
        </label>

        <span class="error" ng-show="registerForm.username.$dirty &&registerForm.username.$invalid" class="ng-hide">
            Please Enter Valid Email/Phone.
          </span>

        <label class="item item-input item-floating-label border-bottom1" ng-class="{ 'border-bottom1-error' : registerForm.lastname.$invalid && !registerForm.lastname.$pristine }">
          <!-- <i class="icon ion-android-person placeholder-icon"></i>
          <span class="input-label">Last Name</span> -->
          <input type="text" placeholder="Last Name" name="lastname" ng-model="registerData.lastname" required>
        </label>


        <label class="item item-input item-floating-label border-bottom1" ng-class="{ 'border-bottom1-error' : registerForm.mobile.$invalid && !registerForm.mobile.$pristine }">
          <!-- <i class="icon ion-android-lock placeholder-icon"></i>
          <span class="input-label">Mobile</span> -->
          <input type="text" name="user_mobile" ng-model="registerData.mobile" placeholder="Mobile" ng-minlength="10" ng-maxlength="10"
            maxlength="10" required ng-pattern="/^[7-9][0-9]{9}$/">
          <!-- <p class="validationError errorMsg" ng-show="submitted && registerForm.user_mobile.$error.required">Enter Mobile Number</p> -->
        </label>

        <!-- <label class="item item-input item-floating-label border-bottom1" ng-class="{ 'border-bottom1-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
          <i class="icon ion-android-lock placeholder-icon"></i>
          <span class="input-label">GST Number</span>
         
          <input type="text" name="gstnumber"  id="gstnumber" ng-model="registerData.gstnumber"
            placeholder="Enter GST Number" ng-minlength="15" ng-maxlength="15" maxlength="15">
        </label> -->

        <label class="item item-input item-floating-label border-bottom1" ng-class="{ 'border-bottom1-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
          <!-- <i class="icon ion-android-lock placeholder-icon"></i>
          <span class="input-label">Email</span> -->
          <input type="email" name="email" id="email" ng-model="registerData.email" placeholder="E-mail" required ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
        </label>

        <label class="item item-input item-floating-label border-bottom1" ng-class="{ 'border-bottom1-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
          <!-- <i class="icon ion-android-lock placeholder-icon"></i>
          <span class="input-label">Password</span> -->
          <input type="password" name="password" id="password" ng-model="registerData.password" placeholder="Password" required>
        </label>

        <label class="item item-input item-floating-label border-bottom1" ng-class="{ 'border-bottom1-error' : registerForm.confirm_password.$invalid && !registerForm.confirm_password.$pristine }">
          <!-- <i class="icon ion-android-lock placeholder-icon"></i>
          <span class="input-label">Confirm Password</span> -->
          <input type="password" name="confirm_password"  ng-model="registerData.confirm_password"
            placeholder="Conform Password" required>
        </label>





        <div class="btn-cls btn-txt">
          <button class="button button-light btn-size btn-pad"  ng-disabled="registerForm.$invalid" type="submit" ng-click="getOtp(registerData)">
            Signup
          </button>
          <br>
          <br>
          <button class="button utton-light btn-size btn-pad" type="submit" ng-click="backtoLogin()">
            <i class="ion-ios-arrow-left"></i> <i class="ion-ios-arrow-left"></i> Back
          </button>
        </div>
      </form>
    </div>




  </ion-content>
</ion-view>